@font-face {
  font-family: isw;

  font-style: normal;

  font-weight: normal;

  src: url('../fonts/isw/isw.woff');

  font-display: swap;
}

@font-face {
  font-family: 'IcoMoon';

  src: url('../fonts/icomoon/icomoon.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IcoMoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram2:before {
  content: "\e902";
  color: #e4405f;
}

.icon-instagram21:before {
  content: "\e903";
  color: #e4405f;
}

.icon-share1:before {
  content: "\eafa";
}

.icon-social:before {
  content: "\eafa";
}

.icon-phone:before {
  content: "\eafb";
}

.icon-contact:before {
  content: "\eafb";
}

.icon-phone1:before {
  content: "\eafc";
}

.icon-contact1:before {
  content: "\eafc";
}

.icon-envelope2:before {
  content: "\eb14";
}

.icon-chat:before {
  content: "\eaef";
}

.icon-bubbles:before {
  content: "\eaef";
}

.icon-talk:before {
  content: "\eaef";
}

.icon-message:before {
  content: "\eaef";
}

.icon-conversation:before {
  content: "\eaef";
}

.icon-inbox-upload:before {
  content: "\eb0b";
}

.icon-inbox-upload1:before {
  content: "\eb0c";
}

.icon-inbox-document-text:before {
  content: "\eb0d";
}

.icon-inbox-document:before {
  content: "\eb0e";
}

.icon-mail-checked:before {
  content: "\eb0f";
}

.icon-mail-envelope-open:before {
  content: "\eb10";
}

.icon-mail-envelope-open1:before {
  content: "\eb11";
}

.icon-note-checked:before {
  content: "\eaf0";
}

.icon-note-checked1:before {
  content: "\eaf1";
}

.icon-note-list:before {
  content: "\eaf2";
}

.icon-note-text:before {
  content: "\eaf3";
}

.icon-heart1:before {
  content: "\eaed";
}

.icon-edit2:before {
  content: "\e900";
}

.icon-edit21:before {
  content: "\e901";
}

.icon-chevron-down:before {
  content: "\eafe";
}

.icon-chevron-left:before {
  content: "\eaf6";
}

.icon-chevron-right:before {
  content: "\eaf7";
}

.icon-chevron-up:before {
  content: "\eafd";
}

.icon-heart-outlined:before {
  content: "\eaee";
}

.icon-share:before {
  content: "\eaf9";
}

.icon-home:before {
  content: "\e904";
}

.icon-home2:before {
  content: "\e905";
}

.icon-home3:before {
  content: "\e906";
}

.icon-office:before {
  content: "\e907";
}

.icon-newspaper:before {
  content: "\e908";
}

.icon-pencil:before {
  content: "\e909";
}

.icon-pencil2:before {
  content: "\e90a";
}

.icon-quill:before {
  content: "\e90b";
}

.icon-pen:before {
  content: "\e90c";
}

.icon-blog:before {
  content: "\e90d";
}

.icon-eyedropper:before {
  content: "\e90e";
}

.icon-droplet:before {
  content: "\e90f";
}

.icon-paint-format:before {
  content: "\e910";
}

.icon-image:before {
  content: "\e911";
}

.icon-images:before {
  content: "\e912";
}

.icon-camera:before {
  content: "\e913";
}

.icon-headphones:before {
  content: "\e914";
}

.icon-music:before {
  content: "\e915";
}

.icon-play:before {
  content: "\e916";
}

.icon-film:before {
  content: "\e917";
}

.icon-video-camera:before {
  content: "\e918";
}

.icon-dice:before {
  content: "\e919";
}

.icon-pacman:before {
  content: "\e91a";
}

.icon-spades:before {
  content: "\e91b";
}

.icon-clubs:before {
  content: "\e91c";
}

.icon-diamonds:before {
  content: "\e91d";
}

.icon-bullhorn:before {
  content: "\e91e";
}

.icon-connection:before {
  content: "\e91f";
}

.icon-podcast:before {
  content: "\e920";
}

.icon-feed:before {
  content: "\e921";
}

.icon-mic:before {
  content: "\e922";
}

.icon-book:before {
  content: "\e923";
}

.icon-books:before {
  content: "\e924";
}

.icon-library:before {
  content: "\e925";
}

.icon-file-text:before {
  content: "\e926";
}

.icon-profile:before {
  content: "\e927";
}

.icon-file-empty:before {
  content: "\e928";
}

.icon-files-empty:before {
  content: "\e929";
}

.icon-file-text2:before {
  content: "\e92a";
}

.icon-file-picture:before {
  content: "\e92b";
}

.icon-file-music:before {
  content: "\e92c";
}

.icon-file-play:before {
  content: "\e92d";
}

.icon-file-video:before {
  content: "\e92e";
}

.icon-file-zip:before {
  content: "\e92f";
}

.icon-copy:before {
  content: "\e930";
}

.icon-paste:before {
  content: "\e931";
}

.icon-stack:before {
  content: "\e932";
}

.icon-folder:before {
  content: "\e933";
}

.icon-folder-open:before {
  content: "\e934";
}

.icon-folder-plus:before {
  content: "\e935";
}

.icon-folder-minus:before {
  content: "\e936";
}

.icon-folder-download:before {
  content: "\e937";
}

.icon-folder-upload:before {
  content: "\e938";
}

.icon-price-tag:before {
  content: "\e939";
}

.icon-price-tags:before {
  content: "\e93a";
}

.icon-barcode:before {
  content: "\e93b";
}

.icon-qrcode:before {
  content: "\e93c";
}

.icon-ticket:before {
  content: "\e93d";
}

.icon-cart:before {
  content: "\e93e";
}

.icon-coin-dollar:before {
  content: "\e93f";
}

.icon-coin-euro:before {
  content: "\e940";
}

.icon-coin-pound:before {
  content: "\e941";
}

.icon-coin-yen:before {
  content: "\e942";
}

.icon-credit-card:before {
  content: "\e943";
}

.icon-calculator:before {
  content: "\e944";
}

.icon-lifebuoy:before {
  content: "\e945";
}

.icon-phone2:before {
  content: "\e946";
}

.icon-phone-hang-up:before {
  content: "\e947";
}

.icon-address-book:before {
  content: "\e948";
}

.icon-envelop:before {
  content: "\e949";
}

.icon-pushpin:before {
  content: "\e94a";
}

.icon-location:before {
  content: "\e94b";
}

.icon-location2:before {
  content: "\e94c";
}

.icon-compass:before {
  content: "\e94d";
}

.icon-compass2:before {
  content: "\e94e";
}

.icon-map:before {
  content: "\e94f";
}

.icon-map2:before {
  content: "\e950";
}

.icon-history:before {
  content: "\e951";
}

.icon-clock:before {
  content: "\e952";
}

.icon-clock2:before {
  content: "\e953";
}

.icon-alarm:before {
  content: "\e954";
}

.icon-bell:before {
  content: "\e955";
}

.icon-stopwatch:before {
  content: "\e956";
}

.icon-calendar:before {
  content: "\e957";
}

.icon-printer:before {
  content: "\e958";
}

.icon-keyboard:before {
  content: "\e959";
}

.icon-display:before {
  content: "\e95a";
}

.icon-laptop:before {
  content: "\e95b";
}

.icon-mobile:before {
  content: "\e95c";
}

.icon-mobile2:before {
  content: "\e95d";
}

.icon-tablet:before {
  content: "\e95e";
}

.icon-tv:before {
  content: "\e95f";
}

.icon-drawer:before {
  content: "\e960";
}

.icon-drawer2:before {
  content: "\e961";
}

.icon-box-add:before {
  content: "\e962";
}

.icon-box-remove:before {
  content: "\e963";
}

.icon-download:before {
  content: "\e964";
}

.icon-upload:before {
  content: "\e965";
}

.icon-floppy-disk:before {
  content: "\e966";
}

.icon-drive:before {
  content: "\e967";
}

.icon-database:before {
  content: "\e968";
}

.icon-undo:before {
  content: "\e969";
}

.icon-redo:before {
  content: "\e96a";
}

.icon-undo2:before {
  content: "\e96b";
}

.icon-redo2:before {
  content: "\e96c";
}

.icon-forward:before {
  content: "\e96d";
}

.icon-reply:before {
  content: "\e96e";
}

.icon-bubble:before {
  content: "\e96f";
}

.icon-bubbles1:before {
  content: "\e970";
}

.icon-bubbles2:before {
  content: "\e971";
}

.icon-bubble2:before {
  content: "\e972";
}

.icon-bubbles3:before {
  content: "\e973";
}

.icon-bubbles4:before {
  content: "\e974";
}

.icon-user:before {
  content: "\e975";
}

.icon-users:before {
  content: "\e976";
}

.icon-user-plus:before {
  content: "\e977";
}

.icon-user-minus:before {
  content: "\e978";
}

.icon-user-check:before {
  content: "\e979";
}

.icon-user-tie:before {
  content: "\e97a";
}

.icon-quotes-left:before {
  content: "\e97b";
}

.icon-quotes-right:before {
  content: "\e97c";
}

.icon-hour-glass:before {
  content: "\e97d";
}

.icon-spinner:before {
  content: "\e97e";
}

.icon-spinner2:before {
  content: "\e97f";
}

.icon-spinner3:before {
  content: "\e980";
}

.icon-spinner4:before {
  content: "\e981";
}

.icon-spinner5:before {
  content: "\e982";
}

.icon-spinner6:before {
  content: "\e983";
}

.icon-spinner7:before {
  content: "\e984";
}

.icon-spinner8:before {
  content: "\e985";
}

.icon-spinner9:before {
  content: "\e986";
}

.icon-spinner10:before {
  content: "\e987";
}

.icon-spinner11:before {
  content: "\e988";
}

.icon-binoculars:before {
  content: "\e989";
}

.icon-search:before {
  content: "\e98a";
}

.icon-zoom-in:before {
  content: "\e98b";
}

.icon-zoom-out:before {
  content: "\e98c";
}

.icon-enlarge:before {
  content: "\e98d";
}

.icon-shrink:before {
  content: "\e98e";
}

.icon-enlarge2:before {
  content: "\e98f";
}

.icon-shrink2:before {
  content: "\e990";
}

.icon-key:before {
  content: "\e991";
}

.icon-key2:before {
  content: "\e992";
}

.icon-lock:before {
  content: "\e993";
}

.icon-unlocked:before {
  content: "\e994";
}

.icon-wrench:before {
  content: "\e995";
}

.icon-equalizer:before {
  content: "\e996";
}

.icon-equalizer2:before {
  content: "\e997";
}

.icon-cog:before {
  content: "\e998";
}

.icon-cogs:before {
  content: "\e999";
}

.icon-hammer:before {
  content: "\e99a";
}

.icon-magic-wand:before {
  content: "\e99b";
}

.icon-aid-kit:before {
  content: "\e99c";
}

.icon-bug:before {
  content: "\e99d";
}

.icon-pie-chart:before {
  content: "\e99e";
}

.icon-stats-dots:before {
  content: "\e99f";
}

.icon-stats-bars:before {
  content: "\e9a0";
}

.icon-stats-bars2:before {
  content: "\e9a1";
}

.icon-trophy:before {
  content: "\e9a2";
}

.icon-gift:before {
  content: "\e9a3";
}

.icon-glass:before {
  content: "\e9a4";
}

.icon-glass2:before {
  content: "\e9a5";
}

.icon-mug:before {
  content: "\e9a6";
}

.icon-spoon-knife:before {
  content: "\e9a7";
}

.icon-leaf:before {
  content: "\e9a8";
}

.icon-rocket:before {
  content: "\e9a9";
}

.icon-meter:before {
  content: "\e9aa";
}

.icon-meter2:before {
  content: "\e9ab";
}

.icon-hammer2:before {
  content: "\e9ac";
}

.icon-fire:before {
  content: "\e9ad";
}

.icon-lab:before {
  content: "\e9ae";
}

.icon-magnet:before {
  content: "\e9af";
}

.icon-bin:before {
  content: "\e9b0";
}

.icon-bin2:before {
  content: "\e9b1";
}

.icon-briefcase:before {
  content: "\e9b2";
}

.icon-airplane:before {
  content: "\e9b3";
}

.icon-truck:before {
  content: "\e9b4";
}

.icon-road:before {
  content: "\e9b5";
}

.icon-accessibility:before {
  content: "\e9b6";
}

.icon-target:before {
  content: "\e9b7";
}

.icon-shield:before {
  content: "\e9b8";
}

.icon-power:before {
  content: "\e9b9";
}

.icon-switch:before {
  content: "\e9ba";
}

.icon-power-cord:before {
  content: "\e9bb";
}

.icon-clipboard:before {
  content: "\e9bc";
}

.icon-list-numbered:before {
  content: "\e9bd";
}

.icon-list:before {
  content: "\e9be";
}

.icon-list2:before {
  content: "\e9bf";
}

.icon-tree:before {
  content: "\e9c0";
}

.icon-menu:before {
  content: "\e9c1";
}

.icon-menu2:before {
  content: "\e9c2";
}

.icon-menu3:before {
  content: "\e9c3";
}

.icon-menu4:before {
  content: "\e9c4";
}

.icon-cloud:before {
  content: "\e9c5";
}

.icon-cloud-download:before {
  content: "\e9c6";
}

.icon-cloud-upload:before {
  content: "\e9c7";
}

.icon-cloud-check:before {
  content: "\e9c8";
}

.icon-download2:before {
  content: "\e9c9";
}

.icon-upload2:before {
  content: "\e9ca";
}

.icon-download3:before {
  content: "\e9cb";
}

.icon-upload3:before {
  content: "\e9cc";
}

.icon-sphere:before {
  content: "\e9cd";
}

.icon-earth:before {
  content: "\e9ce";
}

.icon-link:before {
  content: "\e9cf";
}

.icon-flag:before {
  content: "\e9d0";
}

.icon-attachment:before {
  content: "\e9d1";
}

.icon-eye:before {
  content: "\e9d2";
}

.icon-eye-plus:before {
  content: "\e9d3";
}

.icon-eye-minus:before {
  content: "\e9d4";
}

.icon-eye-blocked:before {
  content: "\e9d5";
}

.icon-bookmark:before {
  content: "\e9d6";
}

.icon-bookmarks:before {
  content: "\e9d7";
}

.icon-sun:before {
  content: "\e9d8";
}

.icon-contrast:before {
  content: "\e9d9";
}

.icon-brightness-contrast:before {
  content: "\e9da";
}

.icon-star-empty:before {
  content: "\e9db";
}

.icon-star-half:before {
  content: "\e9dc";
}

.icon-star-full:before {
  content: "\e9dd";
}

.icon-heart:before {
  content: "\e9de";
}

.icon-heart-broken:before {
  content: "\e9df";
}

.icon-man:before {
  content: "\e9e0";
}

.icon-woman:before {
  content: "\e9e1";
}

.icon-man-woman:before {
  content: "\e9e2";
}

.icon-happy:before {
  content: "\e9e3";
}

.icon-happy2:before {
  content: "\e9e4";
}

.icon-smile:before {
  content: "\e9e5";
}

.icon-smile2:before {
  content: "\e9e6";
}

.icon-tongue:before {
  content: "\e9e7";
}

.icon-tongue2:before {
  content: "\e9e8";
}

.icon-sad:before {
  content: "\e9e9";
}

.icon-sad2:before {
  content: "\e9ea";
}

.icon-wink:before {
  content: "\e9eb";
}

.icon-wink2:before {
  content: "\e9ec";
}

.icon-grin:before {
  content: "\e9ed";
}

.icon-grin2:before {
  content: "\e9ee";
}

.icon-cool:before {
  content: "\e9ef";
}

.icon-cool2:before {
  content: "\e9f0";
}

.icon-angry:before {
  content: "\e9f1";
}

.icon-angry2:before {
  content: "\e9f2";
}

.icon-evil:before {
  content: "\e9f3";
}

.icon-evil2:before {
  content: "\e9f4";
}

.icon-shocked:before {
  content: "\e9f5";
}

.icon-shocked2:before {
  content: "\e9f6";
}

.icon-baffled:before {
  content: "\e9f7";
}

.icon-baffled2:before {
  content: "\e9f8";
}

.icon-confused:before {
  content: "\e9f9";
}

.icon-confused2:before {
  content: "\e9fa";
}

.icon-neutral:before {
  content: "\e9fb";
}

.icon-neutral2:before {
  content: "\e9fc";
}

.icon-hipster:before {
  content: "\e9fd";
}

.icon-hipster2:before {
  content: "\e9fe";
}

.icon-wondering:before {
  content: "\e9ff";
}

.icon-wondering2:before {
  content: "\ea00";
}

.icon-sleepy:before {
  content: "\ea01";
}

.icon-sleepy2:before {
  content: "\ea02";
}

.icon-frustrated:before {
  content: "\ea03";
}

.icon-frustrated2:before {
  content: "\ea04";
}

.icon-crying:before {
  content: "\ea05";
}

.icon-crying2:before {
  content: "\ea06";
}

.icon-point-up:before {
  content: "\ea07";
}

.icon-point-right:before {
  content: "\ea08";
}

.icon-point-down:before {
  content: "\ea09";
}

.icon-point-left:before {
  content: "\ea0a";
}

.icon-warning:before {
  content: "\ea0b";
}

.icon-notification:before {
  content: "\ea0c";
}

.icon-question:before {
  content: "\ea0d";
}

.icon-plus:before {
  content: "\ea0e";
}

.icon-minus:before {
  content: "\ea0f";
}

.icon-info:before {
  content: "\ea10";
}

.icon-cancel-circle:before {
  content: "\ea11";
}

.icon-blocked:before {
  content: "\ea12";
}

.icon-cross:before {
  content: "\ea13";
}

.icon-checkmark:before {
  content: "\ea14";
}

.icon-checkmark2:before {
  content: "\ea15";
}

.icon-spell-check:before {
  content: "\ea16";
}

.icon-enter:before {
  content: "\ea17";
}

.icon-exit:before {
  content: "\ea18";
}

.icon-play2:before {
  content: "\ea19";
}

.icon-pause:before {
  content: "\ea1a";
}

.icon-stop:before {
  content: "\ea1b";
}

.icon-previous:before {
  content: "\ea1c";
}

.icon-next:before {
  content: "\ea1d";
}

.icon-backward:before {
  content: "\ea1e";
}

.icon-forward2:before {
  content: "\ea1f";
}

.icon-play3:before {
  content: "\ea20";
}

.icon-pause2:before {
  content: "\ea21";
}

.icon-stop2:before {
  content: "\ea22";
}

.icon-backward2:before {
  content: "\ea23";
}

.icon-forward3:before {
  content: "\ea24";
}

.icon-first:before {
  content: "\ea25";
}

.icon-last:before {
  content: "\ea26";
}

.icon-previous2:before {
  content: "\ea27";
}

.icon-next2:before {
  content: "\ea28";
}

.icon-eject:before {
  content: "\ea29";
}

.icon-volume-high:before {
  content: "\ea2a";
}

.icon-volume-medium:before {
  content: "\ea2b";
}

.icon-volume-low:before {
  content: "\ea2c";
}

.icon-volume-mute:before {
  content: "\ea2d";
}

.icon-volume-mute2:before {
  content: "\ea2e";
}

.icon-volume-increase:before {
  content: "\ea2f";
}

.icon-volume-decrease:before {
  content: "\ea30";
}

.icon-loop:before {
  content: "\ea31";
}

.icon-loop2:before {
  content: "\ea32";
}

.icon-infinite:before {
  content: "\ea33";
}

.icon-shuffle:before {
  content: "\ea34";
}

.icon-arrow-up-left:before {
  content: "\ea35";
}

.icon-arrow-up:before {
  content: "\ea36";
}

.icon-arrow-up-right:before {
  content: "\ea37";
}

.icon-arrow-right:before {
  content: "\ea38";
}

.icon-arrow-down-right:before {
  content: "\ea39";
}

.icon-arrow-down:before {
  content: "\ea3a";
}

.icon-arrow-down-left:before {
  content: "\ea3b";
}

.icon-arrow-left:before {
  content: "\ea3c";
}

.icon-arrow-up-left2:before {
  content: "\ea3d";
}

.icon-arrow-up2:before {
  content: "\ea3e";
}

.icon-arrow-up-right2:before {
  content: "\ea3f";
}

.icon-arrow-right2:before {
  content: "\ea40";
}

.icon-arrow-down-right2:before {
  content: "\ea41";
}

.icon-arrow-down2:before {
  content: "\ea42";
}

.icon-arrow-down-left2:before {
  content: "\ea43";
}

.icon-arrow-left2:before {
  content: "\ea44";
}

.icon-circle-up:before {
  content: "\ea45";
}

.icon-circle-right:before {
  content: "\ea46";
}

.icon-circle-down:before {
  content: "\ea47";
}

.icon-circle-left:before {
  content: "\ea48";
}

.icon-tab:before {
  content: "\ea49";
}

.icon-move-up:before {
  content: "\ea4a";
}

.icon-move-down:before {
  content: "\ea4b";
}

.icon-sort-alpha-asc:before {
  content: "\ea4c";
}

.icon-sort-alpha-desc:before {
  content: "\ea4d";
}

.icon-sort-numeric-asc:before {
  content: "\ea4e";
}

.icon-sort-numberic-desc:before {
  content: "\ea4f";
}

.icon-sort-amount-asc:before {
  content: "\ea50";
}

.icon-sort-amount-desc:before {
  content: "\ea51";
}

.icon-command:before {
  content: "\ea52";
}

.icon-shift:before {
  content: "\ea53";
}

.icon-ctrl:before {
  content: "\ea54";
}

.icon-opt:before {
  content: "\ea55";
}

.icon-checkbox-checked:before {
  content: "\ea56";
}

.icon-checkbox-unchecked:before {
  content: "\ea57";
}

.icon-radio-checked:before {
  content: "\ea58";
}

.icon-radio-checked2:before {
  content: "\ea59";
}

.icon-radio-unchecked:before {
  content: "\ea5a";
}

.icon-crop:before {
  content: "\ea5b";
}

.icon-make-group:before {
  content: "\ea5c";
}

.icon-ungroup:before {
  content: "\ea5d";
}

.icon-scissors:before {
  content: "\ea5e";
}

.icon-filter:before {
  content: "\ea5f";
}

.icon-font:before {
  content: "\ea60";
}

.icon-ligature:before {
  content: "\ea61";
}

.icon-ligature2:before {
  content: "\ea62";
}

.icon-text-height:before {
  content: "\ea63";
}

.icon-text-width:before {
  content: "\ea64";
}

.icon-font-size:before {
  content: "\ea65";
}

.icon-bold:before {
  content: "\ea66";
}

.icon-underline:before {
  content: "\ea67";
}

.icon-italic:before {
  content: "\ea68";
}

.icon-strikethrough:before {
  content: "\ea69";
}

.icon-omega:before {
  content: "\ea6a";
}

.icon-sigma:before {
  content: "\ea6b";
}

.icon-page-break:before {
  content: "\ea6c";
}

.icon-superscript:before {
  content: "\ea6d";
}

.icon-subscript:before {
  content: "\ea6e";
}

.icon-superscript2:before {
  content: "\ea6f";
}

.icon-subscript2:before {
  content: "\ea70";
}

.icon-text-color:before {
  content: "\ea71";
}

.icon-pagebreak:before {
  content: "\ea72";
}

.icon-clear-formatting:before {
  content: "\ea73";
}

.icon-table:before {
  content: "\ea74";
}

.icon-table2:before {
  content: "\ea75";
}

.icon-insert-template:before {
  content: "\ea76";
}

.icon-pilcrow:before {
  content: "\ea77";
}

.icon-ltr:before {
  content: "\ea78";
}

.icon-rtl:before {
  content: "\ea79";
}

.icon-section:before {
  content: "\ea7a";
}

.icon-paragraph-left:before {
  content: "\ea7b";
}

.icon-paragraph-center:before {
  content: "\ea7c";
}

.icon-paragraph-right:before {
  content: "\ea7d";
}

.icon-paragraph-justify:before {
  content: "\ea7e";
}

.icon-indent-increase:before {
  content: "\ea7f";
}

.icon-indent-decrease:before {
  content: "\ea80";
}

.icon-share2:before {
  content: "\ea81";
}

.icon-new-tab:before {
  content: "\ea82";
}

.icon-embed:before {
  content: "\ea83";
}

.icon-embed2:before {
  content: "\ea84";
}

.icon-terminal:before {
  content: "\ea85";
}

.icon-share21:before {
  content: "\ea86";
}

.icon-mail:before {
  content: "\ea87";
}

.icon-mail2:before {
  content: "\ea88";
}

.icon-mail3:before {
  content: "\ea89";
}

.icon-mail4:before {
  content: "\ea8a";
}

.icon-amazon:before {
  content: "\ea8b";
}

.icon-google:before {
  content: "\ea8c";
}

.icon-google2:before {
  content: "\ea8d";
}

.icon-google3:before {
  content: "\ea8e";
}

.icon-google-plus:before {
  content: "\ea8f";
}

.icon-google-plus2:before {
  content: "\ea90";
}

.icon-google-plus3:before {
  content: "\ea91";
}

.icon-hangouts:before {
  content: "\ea92";
}

.icon-google-drive:before {
  content: "\ea93";
}

.icon-facebook:before {
  content: "\ea94";
}

.icon-facebook2:before {
  content: "\ea95";
}

.icon-instagram:before {
  content: "\ea96";
}

.icon-whatsapp:before {
  content: "\ea97";
}

.icon-spotify:before {
  content: "\ea98";
}

.icon-telegram:before {
  content: "\ea99";
}

.icon-twitter:before {
  content: "\ea9a";
}

.icon-vine:before {
  content: "\ea9b";
}

.icon-vk:before {
  content: "\ea9c";
}

.icon-renren:before {
  content: "\ea9d";
}

.icon-sina-weibo:before {
  content: "\ea9e";
}

.icon-rss:before {
  content: "\ea9f";
}

.icon-rss2:before {
  content: "\eaa0";
}

.icon-youtube:before {
  content: "\eaa1";
}

.icon-youtube2:before {
  content: "\eaa2";
}

.icon-twitch:before {
  content: "\eaa3";
}

.icon-vimeo:before {
  content: "\eaa4";
}

.icon-vimeo2:before {
  content: "\eaa5";
}

.icon-lanyrd:before {
  content: "\eaa6";
}

.icon-flickr:before {
  content: "\eaa7";
}

.icon-flickr2:before {
  content: "\eaa8";
}

.icon-flickr3:before {
  content: "\eaa9";
}

.icon-flickr4:before {
  content: "\eaaa";
}

.icon-dribbble:before {
  content: "\eaab";
}

.icon-behance:before {
  content: "\eaac";
}

.icon-behance2:before {
  content: "\eaad";
}

.icon-deviantart:before {
  content: "\eaae";
}

.icon-500px:before {
  content: "\eaaf";
}

.icon-steam:before {
  content: "\eab0";
}

.icon-steam2:before {
  content: "\eab1";
}

.icon-dropbox:before {
  content: "\eab2";
}

.icon-onedrive:before {
  content: "\eab3";
}

.icon-github:before {
  content: "\eab4";
}

.icon-npm:before {
  content: "\eab5";
}

.icon-basecamp:before {
  content: "\eab6";
}

.icon-trello:before {
  content: "\eab7";
}

.icon-wordpress:before {
  content: "\eab8";
}

.icon-joomla:before {
  content: "\eab9";
}

.icon-ello:before {
  content: "\eaba";
}

.icon-blogger:before {
  content: "\eabb";
}

.icon-blogger2:before {
  content: "\eabc";
}

.icon-tumblr:before {
  content: "\eabd";
}

.icon-tumblr2:before {
  content: "\eabe";
}

.icon-yahoo:before {
  content: "\eabf";
}

.icon-yahoo2:before {
  content: "\eac0";
}

.icon-tux:before {
  content: "\eac1";
}

.icon-appleinc:before {
  content: "\eac2";
}

.icon-finder:before {
  content: "\eac3";
}

.icon-android:before {
  content: "\eac4";
}

.icon-windows:before {
  content: "\eac5";
}

.icon-windows8:before {
  content: "\eac6";
}

.icon-soundcloud:before {
  content: "\eac7";
}

.icon-soundcloud2:before {
  content: "\eac8";
}

.icon-skype:before {
  content: "\eac9";
}

.icon-reddit:before {
  content: "\eaca";
}

.icon-hackernews:before {
  content: "\eacb";
}

.icon-wikipedia:before {
  content: "\eacc";
}

.icon-linkedin:before {
  content: "\eacd";
}

.icon-linkedin2:before {
  content: "\eace";
}

.icon-lastfm:before {
  content: "\eacf";
}

.icon-lastfm2:before {
  content: "\ead0";
}

.icon-delicious:before {
  content: "\ead1";
}

.icon-stumbleupon:before {
  content: "\ead2";
}

.icon-stumbleupon2:before {
  content: "\ead3";
}

.icon-stackoverflow:before {
  content: "\ead4";
}

.icon-pinterest:before {
  content: "\ead5";
}

.icon-pinterest2:before {
  content: "\ead6";
}

.icon-xing:before {
  content: "\ead7";
}

.icon-xing2:before {
  content: "\ead8";
}

.icon-flattr:before {
  content: "\ead9";
}

.icon-foursquare:before {
  content: "\eada";
}

.icon-yelp:before {
  content: "\eadb";
}

.icon-paypal:before {
  content: "\eadc";
}

.icon-chrome:before {
  content: "\eadd";
}

.icon-firefox:before {
  content: "\eade";
}

.icon-IE:before {
  content: "\eadf";
}

.icon-edge:before {
  content: "\eae0";
}

.icon-safari:before {
  content: "\eae1";
}

.icon-opera:before {
  content: "\eae2";
}

.icon-file-pdf:before {
  content: "\eae3";
}

.icon-file-openoffice:before {
  content: "\eae4";
}

.icon-file-word:before {
  content: "\eae5";
}

.icon-file-excel:before {
  content: "\eae6";
}

.icon-libreoffice:before {
  content: "\eae7";
}

.icon-html-five:before {
  content: "\eae8";
}

.icon-html-five2:before {
  content: "\eae9";
}

.icon-css3:before {
  content: "\eaea";
}

.icon-git:before {
  content: "\eaeb";
}

.icon-codepen:before {
  content: "\eaec";
}

.icon-svg:before {
  content: "\eaf4";
}

.icon-IcoMoon:before {
  content: "\eaf5";
}

.icon-uni21:before {
  content: "\21";
}

.icon-uni22:before {
  content: "\22";
}

.icon-uni23:before {
  content: "\23";
}

.icon-uni24:before {
  content: "\24";
}

.icon-uni25:before {
  content: "\25";
}

.icon-uni26:before {
  content: "\26";
}

.icon-uni27:before {
  content: "\27";
}

.icon-uni28:before {
  content: "\28";
}

.icon-uni29:before {
  content: "\29";
}

.icon-uni2A:before {
  content: "\2a";
}

.icon-uni2B:before {
  content: "\2b";
}

.icon-uni2C:before {
  content: "\2c";
}

.icon-uni2D:before {
  content: "\2d";
}

.icon-uni2E:before {
  content: "\2e";
}

.icon-uni2F:before {
  content: "\2f";
}

.icon-uni30:before {
  content: "\30";
}

.icon-uni31:before {
  content: "\31";
}

.icon-uni32:before {
  content: "\32";
}

.icon-uni33:before {
  content: "\33";
}

.icon-uni34:before {
  content: "\34";
}

.icon-uni35:before {
  content: "\35";
}

.icon-uni36:before {
  content: "\36";
}

.icon-uni37:before {
  content: "\37";
}

.icon-uni38:before {
  content: "\38";
}

.icon-uni39:before {
  content: "\39";
}

.icon-uni3A:before {
  content: "\3a";
}

.icon-uni3B:before {
  content: "\3b";
}

.icon-uni3C:before {
  content: "\3c";
}

.icon-uni3D:before {
  content: "\3d";
}

.icon-uni3E:before {
  content: "\3e";
}

.icon-uni3F:before {
  content: "\3f";
}

.icon-uni40:before {
  content: "\40";
}

.icon-uni41:before {
  content: "\41";
}

.icon-uni42:before {
  content: "\42";
}

.icon-uni43:before {
  content: "\43";
}

.icon-uni44:before {
  content: "\44";
}

.icon-uni45:before {
  content: "\45";
}

.icon-uni46:before {
  content: "\46";
}

.icon-uni47:before {
  content: "\47";
}

.icon-uni48:before {
  content: "\48";
}

.icon-uni49:before {
  content: "\49";
}

.icon-uni4A:before {
  content: "\4a";
}

.icon-uni4B:before {
  content: "\4b";
}

.icon-uni4C:before {
  content: "\4c";
}

.icon-uni4D:before {
  content: "\4d";
}

.icon-uni4E:before {
  content: "\4e";
}

.icon-uni4F:before {
  content: "\4f";
}

.icon-uni50:before {
  content: "\50";
}

.icon-uni51:before {
  content: "\51";
}

.icon-uni52:before {
  content: "\52";
}

.icon-uni53:before {
  content: "\53";
}

.icon-uni54:before {
  content: "\54";
}

.icon-uni55:before {
  content: "\55";
}

.icon-uni56:before {
  content: "\56";
}

.icon-uni57:before {
  content: "\57";
}

.icon-uni58:before {
  content: "\58";
}

.icon-uni59:before {
  content: "\59";
}

.icon-uni5A:before {
  content: "\5a";
}

.icon-uni5B:before {
  content: "\5b";
}

.icon-uni5C:before {
  content: "\5c";
}

.icon-uni5D:before {
  content: "\5d";
}

.icon-uni5E:before {
  content: "\5e";
}

.icon-uni5F:before {
  content: "\5f";
}

.icon-uni60:before {
  content: "\60";
}

.icon-uni61:before {
  content: "\61";
}

.icon-uni62:before {
  content: "\62";
}

.icon-uni63:before {
  content: "\63";
}

.icon-uni64:before {
  content: "\64";
}

.icon-uni65:before {
  content: "\65";
}

.icon-uni66:before {
  content: "\66";
}

.icon-uni67:before {
  content: "\67";
}

.icon-uni68:before {
  content: "\68";
}

.icon-uni69:before {
  content: "\69";
}

.icon-uni6A:before {
  content: "\6a";
}

.icon-uni6B:before {
  content: "\6b";
}

.icon-uni6C:before {
  content: "\6c";
}

.icon-uni6D:before {
  content: "\6d";
}

.icon-uni6E:before {
  content: "\6e";
}

.icon-uni6F:before {
  content: "\6f";
}

.icon-uni70:before {
  content: "\70";
}

.icon-uni71:before {
  content: "\71";
}

.icon-uni72:before {
  content: "\72";
}

.icon-uni73:before {
  content: "\73";
}

.icon-uni74:before {
  content: "\74";
}

.icon-uni75:before {
  content: "\75";
}

.icon-uni76:before {
  content: "\76";
}

.icon-uni77:before {
  content: "\77";
}

.icon-uni78:before {
  content: "\78";
}

.icon-uni79:before {
  content: "\79";
}

.icon-uni7A:before {
  content: "\7a";
}

.icon-uni7B:before {
  content: "\7b";
}

.icon-uni7C:before {
  content: "\7c";
}

.icon-uni7D:before {
  content: "\7d";
}

.icon-uni7E:before {
  content: "\7e";
}

.icon-uniA9:before {
  content: "\a9";
}

.icon-mail-reply-all:before {
  content: "\eb12";
}

.icon-mail-forward:before {
  content: "\eb13";
}

.icon-commenting-o:before {
  content: "\eaf8";
}

/* ! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.h-12 {
  height: 3rem;
}

.w-16 {
  width: 4rem;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.font-isw {
  font-family: isw, tahoma;
}
